body {
    min-height: 100vh; 
    margin: 0;
    margin-top: 6%;
    padding: 0;
    background-color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

button {
    padding: 10px 20px;
    color: black;
    background-color: #17f79e;
    border:#007011;
    border-radius: 50px;
    transition: background-color 1s;
}button:hover {
    font-size: small;
    color: #0a4c50c4;
    background-color: #27d043;
}

#link-seeMore{
    background-color: #f2f4fd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #4744f0;
    transition: background-color 1.5s;    
}#link-seeMore:hover{
    background-color: #dad2ff;
    color: black;
    font-family:'Times New Roman', Times, serif ;
    font-size: 90%;
}

#back{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border:#006870;
    border-radius: 50px;
    transition: background-color 1s;
}#back:hover{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #555555;
}


#clear{
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #c34b4b;
    border:#00e9fa;
    border-radius: 50px;
    transition: background-color 1s;
}#clear:hover{
        color: aliceblue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #fa0000;
}


#link-seeProducts{
    text-decoration: none;
    color:#0f7591 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: color 1s;
}#link-seeProducts:hover{
    color: #001ea4;
    text-decoration: none;
}


footer{

    background-color: #00ff9561;
}


nav{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style: oblique;
    margin: auto;
    background-color: #2cbab3da;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
}


#bar{

    margin-right: 1%;
    color: #95f1ff4f;
}

#Tnav{
    font-size: 110%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    color: #def8ff;
    transition: 0.9s;

}#Tnav:hover{
    transition: color 1.3s;
    font-size: 100%;
    color: #00000084;
    font-family:'Times New Roman', Times, serif ;
    transform: scale(1.10);
}



#webName{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
    text-decoration: none;
    color: #0000009d;
}#webName:hover{
    color: #000000;
    transition: color 1s;
    font-size: 105%;
    font-family:'Times New Roman', Times, serif ;
}
#name{
    margin-left: -6%;
    margin-right: 20%;
    text-align: center;
    line-height: 80px 0;
    text-align: center;
    font-size: large;
}

form{
    background-color: #bfffea76;
    padding: 5% ;
    width: 60%;
    border-radius: 10%;
    color: #000000be;

}form:hover{
    background-color: #bfffea9e;
}

#book{
    margin: 30%;
    font-size: larger;
    font-family:monospace ;
    color: #000000;
}


.gender-option {
  display: inline-block;
  margin-right: 15px;
}



input{
    width: 70%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    background-color: #fafafae3;
}input:hover{
    width: 68%;
    background-color: #00000056;
}

select{
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: fafafaa0;
}select:hover{
    width: 31%;
    background-color: #00000057;
}

textarea{
    width: 70%;
    padding: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafaa0;
}textarea:hover{
        width: 69%;
    background-color: #00000022;
}

#mapImg{
    border-radius: 7%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}#mapImg:hover{
    width: 29.5%;
    background-color: #ffffff3c;
}

#map a{
    text-decoration: none;
    color: #610404bf;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: medium;
}

#navigation{
    font-size: 130%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    color: #f0004cc9;
}#navigation:hover{
    transition: color 1.3s;
    font-size: 120%;
    color: #06838fa9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navtMap a{
    text-decoration: none;
    color: #3100f5bf;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}#navtMap a :hover{
    transition: color 1.3s;
    font-size: 110%;
    color: #8f0606a9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
    margin-bottom: auto;
    margin-top: auto;
    margin: auto;
}

#logo {
  transition: 0.5s;
}

#logo:hover {
  transform: scale(1.10);
}
